main {
  border: #111;
  border-style: groove;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 1px 2px 20px rgba(204, 32, 32, 0.1);
  font-family: 'Source Serif Pro', serif;
}

h1{
  padding-bottom: 40px;
  font-weight: 400 !important;
}

main a:link {
  text-decoration: none;
  color: rgb(56, 55, 55);
}

main a:visited {
  text-decoration: none;
  color: rgb(56, 55, 55);
}

main a:hover {
  text-decoration: underline;
  color: rgb(56, 55, 55);
}

main a:active {
  text-decoration: underline;
  color: rgb(56, 55, 55);
}

.info a:link {
  text-decoration: none;
  color: white;
}

.info a:visited {
  text-decoration: none;
  color: white;
}

.info a:hover {
  text-decoration: underline;
  color: white;
}

.info a:active {
  text-decoration: underline;
  color: white;
}

.general {
  background-image: url(resources/img/header_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  padding-top: 65px;
}

.avatar-div {
  position: relative;
}

.avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 80px;
  right: 50px;
}

.info * {
  margin-left: 50px;
  padding-left: 25px;
  color: white;
  font-weight: bold;
}

.header {
  border-bottom: #111;
  border-style: groove;
  border-width: 0 0 3px;
  font-size: 20px;
}

.tags {
  font-size: 18px;
  border-radius: 0px;
  padding: 8px 8px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  color: #4F4F4F;
  background-color: rgb(193, 193, 193);
  margin: 5px;

}

h3 svg {
  border-right: 3px groove black;
  padding-right: 2px;
  padding-bottom: 2px;
}

h2 {
  font-size: 20px !important;
  font-weight: bold !important;
}

h4 {
  font-size: 19px !important;
  padding-top: 5px;
}

p {
  margin-bottom: 0px !important;
}

section {
  padding: 5px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.content {
  padding-left: 35px;
}

.pie {
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(#808080 calc(var(--percentage)*1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 1px, #808080);
  mask: radial-gradient(farthest-side, #0000 1px, #808080);
}

.skillbar {
  width: 100%;
  background-color: #c1c1c1;
  margin-bottom: 5px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.one {
  width: 20%;
  background-color: #000;
}

.two {
  width: 40%;
  background-color: #000;
}

.three {
  width: 60%;
  background-color: #000;
}

.four {
  width: 80%;
  background-color: #000;
}

.five {
  width: 100%;
  background-color: #000;
}

@media only screen and (max-width: 767px) {
  .avatar{
    display: none !important;
  }

  .info * {
    margin-left: 10px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
  }
}

@media only screen and (max-width: 991px) {
  .pie {
    height: 50px !important;
    width: 50px!important;
    aspect-ratio: 1;
    font-size: 14px;
  }
}