
.general {
  background-image: url(img/header_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding-top: 65px;
}

.avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.info *{
  margin-left: 60px;
  padding-left: 60px;
  color: white;
  font-weight: bold;
}

.header{
  border-bottom: #111;
  border-style: groove;
  border-width: 0 0 3px;
  font-size: 20px;
}

.tags{
  font-size: 26px;
  border-radius: 0px;
  padding: 5px 5px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  color: #4F4F4F;
  background-color: rgb(193, 193, 193);
  margin: 5px;
  
}

h3 svg{
  border-right: 3px groove black;
  padding-right: 2px;
  padding-bottom: 2px;
}

h2{
  font-size: 22px !important;
  font-weight: bold !important;
}

p{
  margin-bottom: 0px !important;
}

section{
  padding: 5px;
  padding-bottom: 25px;
  padding-top: 10px;
}

.content{
  padding-left: 35px;
}

.pie {
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(#808080 calc(var(--percentage)*1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 1px, #808080);
  mask: radial-gradient(farthest-side, #0000 1px, #808080);
}

.skillbar {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 5px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.one {
  width: 20%;
  background-color: #808080;
}

.two {
  width: 40%;
  background-color: #808080;
}

.three {
  width: 60%;
  background-color: #808080;
}

.four {
  width: 80%;
  background-color: #808080;
}

.five {
  width: 100%;
  background-color: #808080;
}